<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about-tbate.png" alt="LUCIFER" class="image-fluid" title="Lucifer">
                        </figure>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>About Me</h1>
                        <p>I am B.Tech. 3rd year student. Currently, Learning and Practicing <span class="text-color">MERN Stack Web Development.</span></p>
                        {{!-- <p>I am a <span class="text-color">Beginner level MERN Stack</span><strong> Web Developer</strong>.</p> --}}
                        <a href="https://www.facebook.com/profile.php?id=100008789734051" target="_blank"><button>View Profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>