<!-- footer code -->
    <footer>
        <p>Weather Check &copy;2021 Lucifer.</p>
        <p style="opacity: 0.4;">Disclaimer : This site does not store any information on its server. All weather information is provided by API from <a href="https://www.weatherapi.com/" target="_blank">weatherapi</a>.</p>
    </footer>